* {
  font-family: Helvetica, Arial, Sans-Serif;
}

body {
  padding-left: 30px;
  padding-right: 30px;
}

header {
  height: 100px;
  border-bottom: 1px solid #CCC;
}
 /*border-bottom-style: solid;
 color: #CCC*/

header nav{
  float: right
}
nav ul {
  margin-top: 40px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;

  padding: 0pxl
}
nav ul li {
  display: inline;
  margin-right: 10px;
}

nav a{
   text-decoration: none;
   color: #007bff;
   font-size: 18px;

}
nav a:hover {
  text-decoration: underline;
  color: #01b6b3;
}

h3:header{
  
}
