* {
  font-family: Helvetica, Arial, Sans-Serif;
}

body {
  padding-left: 30px;
  padding-right: 30px;
}

header {
  height: 100px;
  border-bottom: 1px;
  border-bottom-style: solid;
  color: #CCC
}
